        /* *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        } */
        .containers{
            /* width: 100vw; */
            width: 97%;
          display: flex;
          flex-direction: row;
          margin: 0px 20px;
          margin-left:20px;
        }
        .ss1{
            height:120px;
            width: 160px;
            padding-left: 40px;

        }
        .card{
            width:19%;
            height:410px;
            border: 1px solid black;
            margin: 15px;
            box-shadow: 2px 2px 2px black;
            padding:20px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            gap: 10px;
            border-radius: 10px;
        }
        .card:hover{
            transform: scale(1.01);
            transition: all 0.12s ease;
            background-color: rgb(107, 218, 218);
        }
        .stars{
            display: flex;
            text-align: center;
            padding:0 50px 0px 65px;
            
        }
        button{
            padding: 5px 100px 5px 100px;
            text-align: center;
            justify-content: center;
            background-color:black;
            color: white;
            display:flex;
            flex-direction: row;
            border: none;
        }
        button:hover{
            transform: scale(1.1);
            transition: all 0.12s ease;
            background-color: white;
            color:black;
        }
        #money{
            font-weight: bold;
        }
        button:active{
                background-color: rgb(224, 90, 90);
                color: white;
        }
        